<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LunchEntities" connectionString="metadata=res://*/LunchModel.csdl|res://*/LunchModel.ssdl|res://*/LunchModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\novaDev\Documents\Visual Studio 2010\Projects\LunchCrawler\LunchCrawler.Data.Local\Lunch.sqlite&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>