<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="LunchEntities"
         connectionString="metadata=res://*/LunchModel.csdl|res://*/LunchModel.ssdl|res://*/LunchModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;Lunch.sqlite&quot;'"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>