<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LunchCrawler.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="LunchEntities"
         connectionString="metadata=res://*/LunchModel.csdl|res://*/LunchModel.ssdl|res://*/LunchModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;../../../LunchCrawler.Data.Local/Lunch.sqlite&quot;'"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <LunchCrawler.Tests.Properties.Settings>
      <setting name="BingSearchLimit" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="BingSearchCountForOneSearch" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="YahooSearchLimit" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="YahooSearchCountForOneSearch" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LunchMenuProbabilityLimit" serializeAs="String">
        <value>0.75</value>
      </setting>
      <setting name="HTTPTimeoutSeconds" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DeepLinkRecursionLevel" serializeAs="String">
        <value>3</value>
      </setting>
    </LunchCrawler.Tests.Properties.Settings>
  </applicationSettings>
</configuration>